@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

select {
    background-color: #003879;
    color: #ffffff;
}

option {
    background-color: #ffffff;
    color: #003879;
}

form {
    width: 100%;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    border-radius: 7px!important;
    background-color: white;
    padding: 0;
}

input[type="checkbox"]:checked {
    background-color: #003879;
    background-image: url("../public/images/checkmark.png");
    color: #ffffff;
    border-color: white;
}
